/*-- Use For Custom Styling --*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bungee', cursive;
}
.font-montserrat{ font-family: 'Montserrat', sans-serif;}
.navbar{
    background-color: #ffffff;
}
.navbar-top-default .navbar-nav .nav-link{
    font-family: 'Bungee', cursive;
}
.link-discord{ color: #222222;}
.link-discord:hover{ color: #7289da;}
.link-twitter{ color: #222222;}
.link-twitter:hover{ color: #1da1f2;}
.nav-three-circles .navbar-nav .nav-item .nav-link.active::after, .nav-three-circles .navbar-nav .nav-item .nav-link:hover::after{
    display: none;
}
.team-col, .team-col2{ max-width: inherit;}
.about:before{ right: 0;}

.loader-container {
  background: url(img/loading.gif);
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: contain;
  max-width:80px;
  max-height:80px;
}

#animatedBackground {
  width: 100%;
  height: 100%;
  min-height:480px;
  background: url(img/rarity.png);
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: cover;
/*adjust s value for speed*/
  animation: animatedBackground 400s linear infinite;
}

/*#animatedBackground {
-moz-box-shadow: inset 0px 50px 25px -20px #f9f9f9, inset 0px -50px 25px -20px #f9f9f9;
-webkit-box-shadow: inset 0px 50px 25px -20px #f9f9f9, inset 0px -50px 25px -20px #f9f9f9;
box-shadow: inset 0px 50px 25px -20px #f9f9f9, inset 0px -50px 25px -20px #f9f9f9;
}*/

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: 10000px 0px;
  }
}

.textcenter {text-align:center!important;}
.team-image img {max-width:285px}
.mint-bg {
  width: 100%;
  height: 100%;
  min-height:520px;
  background: url(img/mint-bg.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: right bottom;
}
.roadmap-bg {
  width: 100%;
  height: 100%;
  min-height:520px;
  background: url(img/roadmap-bg.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: left bottom;
}
.faq-bg {
  width: 100%;
  height: 100%;
  min-height:520px;
  background: url(img/faq-bg.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: right bottom;
}
.title-border {border:6px solid #222;padding:1rem 0 1rem;}

.rarity {
	float:left;
	display:flex;
	width:100%;
}

.rarity-item {
	height: 25%;
    width: 25%;
	display:inline-block;
	margin:auto;
	margin-bottom:24px;
}

.rarity-item img {
	height: 80px;
    width: 80px;
    border-radius: 50%;
	border: 4px solid #222;
}

.rarity-mobile {
	float:left;
	display:none;
	width:100%;
}

.rarity-item-mobile {
	height: 50%;
    width: 50%;
	display:none;
	margin:auto;
	margin-bottom:24px;
}

.rarity-item-mobile img {
	height: 100px;
    width: 100px;
    border-radius: 50%;
	border: 4px solid #222;
}

.rarity-title {
	height: auto;
    width: auto;
	margin-top: 0.6rem;
	color:#222!important;
	text-align:center;
}

h6.rarity-title {
	line-height:1rem;
}

@media screen and (max-width: 1199px) {
	h6.rarity-title {
	line-height:0.8rem;
	font-size:14px;
	}
	#animatedBackground {
	min-height:490px;
	}
}

@media screen and (max-width: 991px) {
	.rarity-adjust {
		margin-top:2.5rem;
	}
	.col-md-12.rarity-adjust {
		padding-bottom:2.5rem;
	}
}

@media screen and (max-width: 575px) {
	.rarity-mobile {
	display:flex;
	}
	.rarity-item-mobile {
	display:inline-block;
	}
	.rarity {
	display:none;
	}	
	.rarity-item {
	display:none;
	}
}

@media screen and (max-width: 480px) {
	#animatedBackground {
	min-height:320px!important;
	}
}

/* ===================================
    Rev-Slider Before After
====================================== */

.rs-before-after-addon {
    overflow: hidden !important;
}

.rs-before-after-addon .tparrows {
    z-index: 1000 !important;
}

.rs-addon-beforeafter-btn {
    position: absolute;
    display: table;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    z-index: 102;
}

.rs-addon-beforeafter-btn i {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.rs-beforeafter-shift-arrows .rs-addon-beforeafter-btn i {
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
}

.rs-addon-beforeafter-btn-vertical,
.rs-addon-beforeafter-btn-vertical i {
    display: block;
}

.rs-addon-beforeafter-line {
    display: block;
    position: absolute;
    z-index: 102;
}

.rs-addon-beforeafter-line.rs-beforeafter-horizontal {
    top: 0;
    height: 100%;
}

.rs-addon-beforeafter-line.rs-beforeafter-vertical {
    left: 0;
    width: 100%;
}

.rs-before-after-element {
    opacity: 0;
    visibility: hidden;
    background: transparent!important;
}

.rs-before-after-element,
.rs-before-after-element:before {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: inherit;
}

.rs-addon-beforeafter-bg {
    opacity: 0;
    z-index: 999;
}

.rs-addon-beforeafter-bg,
.rs-addon-beforeafter-revealer,
.rs-addon-beforeafter-revealer .tp-loop-wrap {
    width: 100%;
    height: 100%;
}

.rs-addon-beforeafter-bg,
.rs-addon-beforeafter-revealer {
    position: absolute;
    overflow: hidden;
}

.rs-addon-beforeafter-before {
    top: 0;
    left: 0;
}

.rs-addon-beforeafter-horizontal .rs-addon-beforeafter-bg,
.rs-addon-beforeafter-horizontal .rs-addon-beforeafter-after {
    top: 0;
    right: 0;
}

.rs-addon-beforeafter-vertical .rs-addon-beforeafter-bg,
.rs-addon-beforeafter-vertical .rs-addon-beforeafter-after {
    bottom: 0;
    left: 0;
}

.rs-addon-beforeafter-bg,
.rs-addon-beforeafter-after {
    opacity: 0;
}

.rs-addon-beforeafter-inner,
.rs-addon-beforeafter-bg-inner  {
    position: absolute;
    width: 100%;
    height: 100%;
}

.rs-addon-beforeafter-horizontal .rs-addon-beforeafter-inner,
.rs-addon-beforeafter-horizontal .rs-addon-beforeafter-bg-inner {
    right: 0;
    top: 0;
}

.rs-addon-beforeafter-vertical .rs-addon-beforeafter-inner,
.rs-addon-beforeafter-vertical .rs-addon-beforeafter-bg-inner {
    left: 0;
    bottom: 0;
}

.rs-video-beforeafter,
.rs-video-beforeafter .tp-mask-wrap {
    width: 100% !important;
    height: 100% !important;
}

.rs-before-after-addon:not(.before-after-carousel).dragging,
.rs-before-after-addon:not(.before-after-carousel).dragging *,
.rs-before-after-addon:not(.before-after-carousel).dragging .rs-addon-beforeafter-btn i:before {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
}

.rs-beforeafter-pointers,
.rs-beforeafter-pointers .rs-addon-beforeafter-inner {
    pointer-events: none;
}

.rs-beforeafter-pointers *:not(.rs-addon-beforeafter-inner) {
    pointer-events: auto;
}

.rs-beforeafter-pointers .rs-video-beforeafter,
.rs-beforeafter-pointers .rs-video-beforeafter * {
    pointer-events: none;
}

.tparrows.tp-leftarrow:before {
    content: '\f104'!important;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}

.tparrows.tp-rightarrow:before {
    content: '\f105'!important;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
}

/* ===================================
    Start Loader
====================================== */